/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
/*
    The below elements are form Angular-Dark-Mode. This is a test or an iteration. I intend on using Angular material
    instead but this might do the job too, so I'm putting this here in case I need it. 
*/
body {
  margin: 0;
}

  body:not(.dark-mode-preloading) {
    transition: all 0.3s linear;
  }

  body.dark-mode {
    background-color: #2f3542;
    color: #f1f2f6;
  }

  body.light-mode {
    background-color: #f1f2f6;
    color: #2f3542;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
