body{
    background-color: #eeeeee;
}
.login-card{
  background-color: #fff;
  width: min-content;
  padding: 2rem;
  border-radius: 1rem;
  margin: auto;
}
.login-btn {
  padding: 13px 20px 12px;
  background-color: #000;
  border-radius: 4px;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: #fff;
  margin-bottom: 24px; 
}
.login-btn:hover {
  border: 1px solid #000;
  background-color: transparent;
  color: #000; 
}
.forgot-password-link {
  font-size: 14px;
  color: #919aa3;
  margin-bottom: 12px; 
}