body{
    margin: 0;
}

.header{
    display: flex;
    align-items: center;
    position: sticky;
    background-color: white;
    top:0;
    height: var(--header-height);
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .2);
    padding: 0 .5rem;
}

/*(*) means everything*/
*, *::before, *::after{
    box-sizing: border-box;
}

.menu-icon{
    width: 25px;
    height: 25px;
    fill: var(--medium-gray);
    cursor: pointer;
}

.menu-icon:hover{
    fill: var(--accent-color);
}

.menu-icon-btn{
    background: none;
    border: none;
    padding: 0;
}

.sidebar .logo{
    display: block;
    width: 40px;
    height: 40px;
}

.sidebar .logo > img{
    width: 100%;
    height: 100%;
}

.sidebar .top-sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .hidden-sidebar{
    opacity: 0;
    width: 0%;
    height: 0;
    transition: opacity var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .hidden-sidebar{
    width: 100%;
    height: 100%;
    opacity: 1;
}

.sidebar {
    align-items: center;
    justify-content: stretch;
    flex-shrink: 0;
    overflow: hidden;
    border-right: 1px solid lightgray;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 75px;
    height: calc(100vh - (var(--header-height) + var(--navbar-height)));
    transition: width var(--animation-duration) var(--animation-timing-curve);
}

.middle-sidebar{
    flex-grow: 1;/*Fill as much height as possible*/
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    margin: 1rem 0rem;
}

.bottom-sidebar{
    width: 100%;
}

.container-side{
    display: flex;
}

.content{
    margin: 0 0 0 1rem;
    padding-top: 1rem;
    overflow-y: scroll;
    height: calc(100vh - (var(--header-height) + var(--navbar-height)));
}

.sidebar-list{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.sidebar.open .sidebar-link{
    justify-content: flex-start;
    padding-left: 1.5rem;
}

.sidebar-icon{
    width: 24px;
    height: 24px;
    fill: var(--light-gray);
    flex-shrink: 0;
}

.sidebar.open .sidebar-icon{
    margin-right: 1.5rem;
}

.sidebar-link{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: .5rem 0;
    color: var(--light-gray);
    text-decoration: none;
    align-items: center;
}

.sidebar.open .sidebar-link-text.hidden-sidebar{
    font-size: .9rem;
    font-weight: lighter;
}

.top-sidebar{
    margin-bottom: .5rem;
}

.sidebar-list-item{
    width: 100%;
    position: relative;
}

.sidebar-list-item.active{
    background-color: var(--lightest-gray);
}

.sidebar-list-item.active .sidebar-icon{
    fill: var(--accent-color);
}

.sidebar-list-item:hover{
    background-color: var(--lightest-gray);
}
.sidebar-list-item:hover::before{
    content: "";
    background-color: var(--light-gray);
    height: 100%;
    left: 0;
    position: absolute;
    width: 3px;
}

/*Red Bar Next To Active Icon*/
.sidebar-list-item.active::before{
    content: "";
    background-color: var(--accent-color);
    height: 100%;
    left: 0;
    position: absolute;
    width: 3px;
}

.sidebar.open {
    width: 300px;
}

.sidebar.open .logo{
    width: 90px;
    height: 90px;
}

.sidebar-list .hidden-sidebar{
    white-space: nowrap;
}